*{
	font-family: 'Grandstander', cursive;
}

h1 {
	color: #30e3ca;c
	letter-spacing: 3px;
}

h2{
	color: #30e3ca;
}

.card {
	background-color: #30e3ca;
	border: 2px solid #30e3ca;
}

.card-text{
	font-size: 12px;
}

.navbar{
	background-color: #30e3ca;
}

#navbar-logo{
	height: 30px;
	width: 30px;
}

.footer{
	background-color: #30e3ca;
}

#profileContainer{

	letter-spacing: 2.5px;
	margin-top: 5%;
}

#userLogo{
	margin-top: 1rem;
    height: auto;
    width: 100%;

}

.card-profile{
	background-color: #30e3ca;
}

/*#card-parent{
	justify-content: center;
}*/

.card-text-profile{
	font-size: 18px;
	margin-left: 1rem;
}

.card-title-profile{
	font-size: 25px;
}


